PYTHON WORKSHEET - 5

1. C) +

2. D)

3. B)

4. D)

5. C)

7. B)

8. C)

10. B) AND C)

11. LISTS ARE MUTABLE, SETS ARE IMMUTABLE
LISTS CAN BE ACCESSED THROUGH INDEX AND LISTS ELEMENTS CAN REPEAT. WHEREAS SET CANNOT BE ACCESSED THROUGH INDEX AND SETS VALUES ARE UNIQUE

12.

In [1]:
# Python program to square elements of a list using list comprehension
a=[2,3,7,8,9]
list_square=[x**2 for x in a]
list_square

[4, 9, 49, 64, 81]

In [3]:
#Write a pyhton program to drop duplicate elements from a list of numbers
a=[2,4,5,2,4,5,33,6,7,8,5,2,4,5]
b=[i for i in a if i!=2]
b

In [8]:
#  Take two sets of numbers and try implementing the set operations - intersection, union, difference and symmetric_difference between them.

In [9]:
# Write a python program to add the elements of a set.
x={1,2,3,45,6,8,2,8,6,3}
x # Only unique nos are saved in the set

{1, 2, 3, 6, 8, 45}

In [12]:
def sum_set(y):
    a=0
    for i in y:
        a=a+i
    return a

In [13]:
# calling function
sum_set(x)

65

In [14]:
# cross verifying the sum
1+2+3+6+8+45

65

In [15]:
# Take two sets of numbers and try implementing the set operations - intersection, union, difference and
#symmetric_difference between them
x={'apple',"banana", "cherry"}
y = {"google", "microsoft", "apple"}

z=x.intersection(y)
z

{'apple'}

In [16]:
# union
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'cherry', 'apple', 'banana', 'microsoft'}

In [17]:
#symmetric_difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [18]:
# difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}